#container{
    height: 100vh;
    display: grid; 
    /* מגדיר אלמנט כ css grid */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* we can defaine like this grid-template-columns: repeat(6, 1fr); */
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "h h f f s s"
    "h h f f s s"
    "h h . . s s"
    "h h m m s s"
    "h h m m s s";
}
.head{
    grid-area: h;
    background-color: yellow;
}

.side-nav{
    grid-area: s;
    background-color: red;
}

.main{
    grid-area: m;
    background-color: green;
}

.foot{
    grid-area: f;
    background-color: gray;
}